.title1{
	text-align:center;
	font-size:100px;
	color:red;
}
.title2{
	text-align:center;
	font-size:30px;
}
.self,.oppo{
	width:300px;
	height:150px;
	background-color:white;
	position:absolute;
	.top{
		width:70px;
		height:70px;
		border-radius:50%;
		margin:auto;
		margin-top:10%;
	}
	.name{
		width:fit-content;
		margin:auto;
		margin-top:10%;
		font-size:20px;
		font-weight:bold;
		font-family:宋体;
	}
}
.self{
	left:200px;
	top:50px;
}
.oppo{
	right:200px;
	top:50px;
}
.button-container1{
    text-align:center;
}
.button1{
	padding:0;
	margin:0;
	width:150px;
	height:150px;
	outline:none;
	cursor:pointer;
}
.button-container2{
	display:none;
    text-align:center;
}
.button2{
    display:inline-block;
    padding:15px 150px;
    background-color:#1E90FF;
    color:#FFFFFF;
    border:none;
    border-radius:150px;
    outline:none;
    cursor:pointer;
    font-size:40px;
}
.button2:hover{
    background-color:#0066CC;
}

.button2:active{
    background-color:#003399;
}